/* image modal start*/

.image-modal {
  inset: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.image-modal img {
  max-width: 100%;
}

/* image modal end */

/* Breadcrump design */

.specific-page-container {
  margin-top: 174px;
}

.breadcrumb {
  padding: 0 0.5rem;
  /* border: 2px solid red; */
  margin-top: 100px;
  padding: 10px;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  /* border: 2px solid green; */
}

.breadcrumb ul li {
  margin-right: 10px;
}

.breadcrumb li:not(:first-child)::before {
  content: "→";
  margin-right: 10px;
}

/* .post-details {
  border: 2px solid red;
}  */

.details-card {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fefefe;
  box-shadow: 0 3px 6px #0f22561f;
  padding: 30px;
}
.details-card > * {
  flex: 1;
}

.details-card-image {
  max-width: 100%;
  margin: 0 auto;
}

.blog-date {
  margin-bottom: 20px;
}

.details-card-text {
  /* display: flex;
  flex-direction: column; */
  margin: 0 auto;
  max-width: 100%;
  /* padding: 20px; */
  /* border: 2px solid green; */
}

.details-card-text ul,
.details-card-text ol {
  padding: 20px;
  /* border: 2px solid brown; */
}

.details-card-text h1 {
  margin-top: 0;
}

.details-card-text h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.details-card-text p {
  max-width: 90%;
}

.wp-block-image img {
  height: auto;
}
