:root {
  --body-background-colour: #f0f3f6;
  --header-background-colour: #fefefe;
  --primary-colour: #913673;
  --cta-text: #fff;
  --Body-text-colour: #484747;
  --text-colour: white;
  --background-colour: #242424;
  --cta-background-colour: #913673;
  --cta-hover: #d98aa5;
}
