:root {
  --body-background-colour: #f0f3f6;
  --header-background-colour: #fefefe;
  --primary-colour: #913673;
  --cta-text: #fff;

  --Body-text-colour: #484747;
  /* --primary-colour: #693e5b; */
  /* --primary-colour: #d5376a; */
  --text-colour: white;
  --background-colour: #242424;
  /* --cta-background-colour: #6c425e; */
  --cta-background-colour: #913673;

  /* --cta-hover: #d5376a; */
  --cta-hover: #d98aa5;
  --h1-desktop-font-size: ;
}
