@import "import/links.css";
@import "import/about.css";
@import "import/contact.css";
@import "import/index.css";
@import "import/blog.css";
@import "import/specific-blog.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  /* min-height: 100vh; */
  /* display: grid;
  grid-template-rows: auto 1fr auto;
  color: #1d1d1d; */
  /* margin: 1.5em; */
}

h1 {
  font-size: 3rem;
  margin-top: 2em;
  line-height: 3.3 rem;
}

.subhead {
  font-size: 1.4rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 14px;
}

p {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.5px;
}

header {
  width: 100%;
}

/* nav li {
  display: inline-block;
} */

/* nav ul {
  padding: 0px;
} */

/* nav a {
  text-decoration: none;
  font-size: 1.3rem;
  padding: 10px;
} */

/* nav a:hover {
  text-decoration: underline;
} */

/* .img {
  width: 100%;
} */

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  height: 90px;
  width: 100%;
  padding: 20px;
  border: 2px solid red;
}

header,
footer,
nav {
  /* background-color: #080439; */
  color: rgb(4, 4, 4);
}

main {
  margin-top: 90px;
}

.logo {
  color: black;
  font-weight: bold;
  border: 2px solid brown;
}

nav {
  display: none;
  position: fixed;
  top: 90px;
  z-index: 1000;
  right: 0px;
}

nav ul,
.footer-col ul {
  padding: 0px;
}

nav ul li {
  display: block;
  padding: 20px 30px;
  text-align: center;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.ikon-spacing {
  font-size: 2.5em;
}

/* blog page */

.card-small_container {
  width: 100%;
  border: 2px solid red;
  max-width: 1200px;
  margin: 0 auto;
}

.card-small_container h1 {
  margin-bottom: 40px auto 20px;
  border: 2px solid green;
}

/* Home and Blog page card */

.popular-posts,
.posts {
  margin: 0 auto 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  max-width: 1400px;
  border: 2px solid blue;
  /* flex-direction: row; */
}

.posts-card {
  width: 100%;
  margin: 20px auto;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 4px;
  background-color: #f7f6f6;
  box-shadow: 0 5px 10px (rgba(0, 0, 0, 2));
}

.posts-card .posts-image {
  height: 250px;
  /* width: 350px; */
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}

/* .posts-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
} */

.image-post {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* hover affect on posts-card */

.posts-card:hover {
  background-color: #dddddd;
  cursor: pointer;
  transition: all 1s ease;
}

.modal-image {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  overflow: auto;
  display: none;
}

.modal-image span {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 40px;
  font-weight: border;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.modal-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #fff;
  border-radius: 4px;
  width: 750px;
  object-fit: cover;
}

/* w3 school */

/* end of w3 school */

/* hover affect on posts-image img */

/* .posts-image:hover {
  transform: scale(1.5);
} */

.posts-card a {
  display: inline-block;
  padding: 10px;
  text-transform: capitalize;
  text-align: center;
  margin: auto;
}

.view-more {
  border: 2px solid orange;
  margin-top: 20px;
  display: inline-block;
  padding: 20px 40px;
  border: 1px solid black;
  font-size: 1rem;
  cursor: pointer;
}

.view-more:hover {
  background-color: red;
  color: white;
}
/* .posts-text h2 {
  font-size: 32px;
} */

/* .posts-image {
  width: 100%;
} */

.posts-image {
  width: 100%;
}

/* home page card */
*/










/* loader style */

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* hero section of home page */

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/american-heritage-chocolate-5K5Nc3AGF1w-unsplash.jpg");
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  /* overflow: hidden; */
  animation: introLoad 2s forwards;
}

/* Contact page */

.contact-page {
  margin: 0 auto 100px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  max-width: 1400px;
  border: 2px solid blue;
  flex-direction: row;
}

/* 
nav {
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  height: 100vh;
  width: 40%;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

nav ul a {
  color: black;
  padding: 0.75em 2em;
  display: block;
}

nav ul a:hover {
  background: rgb(202, 197, 197);
}

.close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

header svg {
  width: 3em;
  cursor: pointer;
}

section.hero {
  color: white;
  height: 90vh;
  /* animation: moveDown 1s ease-in-out forwards;
  opacity: 0;

  .down-arrow {
    stroke: white;
    bottom: 2em;
    width: 1em;
    position: absolute;
    animation: moveArrow 1s alternate-reverse infinite;

    path {
      fill: white;
    }
  } */
/* } */

/* 
section.hero svg {
  stroke: white;
  bottom: 2em;
  width: 1em;
  position: absolute;
  animation: moveArrow 1s alternate-reverse infinite;
}

section.hero svg path {
  fill: white;
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
  }
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }

  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0px;
  }
  nav ul a {
    color: white;
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }

  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 42em;
  }

  .logo {
    color: black;
  }
  .logo span {
    color: red;
  }

  section.hero {
    color: black;
    height: auto;
    width: 40%;
    margin-bottom: 8em;
  }
  section.hero svg {
    stroke: black;
    position: unset;
  }
  section.hero svg path {
    fill: black;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  /* .feature {
    gap: 0;
  } */
