@import "import/about.css";
@import "import/contact.css";
@import "import/index.css";
@import "import/blog.css";
@import "import/specific-blog.css";
@import "fontAwesome/all.min.css";
@import "import/variables.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--body-background-colour);
  margin: 1.5em;
}

textarea {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: var(--Body-text-colour);
}

h1,
h2,
.logo {
  font-family: "great vibes", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primary-colour);
}

.logo-container {
  margin: 20px auto;
}

.logo {
  text-decoration: underline;
  margin-bottom: 20px;
  font-size: 2rem;
}

img {
  width: 100%;
  object-fit: cover;
}

/* mobile view of font size  of hero text*/

h1 {
  font-size: 2.3 rem;
  margin-top: 1em;
  margin-bottom: 0.8em;
  line-height: 3.3 rem;
  color: var(--primary-colour);
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 0.5px;
  color: var(--Body-text-colour);
}

/* header and nav of Mobile for all pages */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  padding: 20px;
  width: 100%;
  z-index: 2;
  background-color: var(--header-background-colour);
  /* border: 2px solid red; */
}

main {
  margin: 250px auto 100px;
}

/* mobile view of nav */

nav {
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: var(--header-background-colour);
  height: 100vh;
  z-index: 1000;
  /* border: 2px solid blue; */
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  /* new code */
  /* display: none; */
}

.menu {
  width: 3em;
  font-size: 2rem;
  color: var(--primary-colour);
  cursor: pointer;
}

.close {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 1.5rem;
}

.open-nav {
  transform: translateX(0%);
}

/* top: 0px; */
/* width: 40%;
  height: 100vh;
  background: #fff;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out; */
/* new  code*/
/* top: 0px; */

/* checking */

nav ul,
.footer-col ul {
  padding: 0px;
  list-style-type: none;
  margin-top: 5em;
}

nav ul li {
  display: block;
  padding: 20px 30px;
  text-align: center;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #484747;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 1.2em;
  width: 100%;
}

/* checking */

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a:hover {
  color: var(--primary-colour);
}

/* .open-nav {
  transform: translateX(100%);
} */

/* stroke */
nav.stroke ul li a {
  position: relative;
}

nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--primary-colour);
  height: 2px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

/* Footer */

footer {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  /* margin-top: auto; */
  border-top: 3px solid var(--primary-colour);
  font-size: 1.5em;
  margin-top: 20px;
}

.footer-content {
  padding: 15px;
  font-size: 1rem;
}

/* hamburger with css */
/* #hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.ikon-spacing {
  font-size: 2.5em;
} */

/* hamburger with javascript */

/* .close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

 .open-nav {
  transform: translateX(0%);
}  

/* hamburger with javascript */

/* loader */

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid var(--primary-colour);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Divider between sections(div) */

.division {
  display: block;
  background-color: #dad1d1;
  width: 95%;
  margin: 0 auto;
  height: 1px;
  margin: 2em;
}

/* Style for all posts card links*/

.posts-card a {
  display: inline-block;
  padding: 10px 20px;
  text-transform: capitalize;
  text-align: center;
  margin: auto;
  /* new */
  border-radius: 4px;
  /* font-size: 1.2rem; */
  /* font-weight: 600; */
  /* padding: 8px; */
  background-color: var(--cta-background-colour);
  color: var(--cta-text);
}

.posts-card a:hover {
  background-color: #875680;
  color: #fff;
}

.posts-image {
  width: 100%;
}

/* error message style */

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  border: 1px solid #8b0000;
  padding: 1rem;
  color: #8b0000;
  background: #ffebeb;
}

/* Footer and active class of nav */

.footer-col ul li a:hover,
.active {
  text-decoration: underline;
  /* font-size: 1.3em; */
}

/* cta button for all pages */

/* button {
  background-color: var(--cta-background-colour);
  color: var(--cta-text);
  border: none;
  font-size: 16px;
  border-radius: 4px;
  width: 300px;
  padding: 20px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
} */

/* Submit button on contact form- mobile view */

button {
  background-color: var(--cta-background-colour);
  color: var(--cta-text);
  border: none;
  font-size: 16px;
  border-radius: 4px;
  /* width: 300px;
  width: 200px; */
  padding: 20px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
}
/* trying again for hamburger */

/* trying again */

/* .content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  padding: 0px 40px;
}

.logo_container {
  display: flex;
  align-items: center;
  border: 2px solid red;
}

.hamburger-container {
  display: block;
}

.nav-container {
  position: absolute;
  left: 50%;
  top: 222px;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 999;
}

nav {
  display: block;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.nav-ul a {
  padding: 20px;
} */

/* trying again end*/
